{% extends 'base.html.twig' %}
{%  block title %} Profil: {{ participant.pseudo }} {% endblock %}
{% block body %}
    <div class="example-wrapper">
        <h1 class="text-center">{{ participant.pseudo }}</h1>
        <div class="row">
            <div class="col-md-6">
                <p>Prénom:</p>
                <p>Nom:</p>
                <p>Téléphone</p>
                <p>Email:</p>
                <p>Campus:</p>
            </div>
            <div class="col-md-6">
                <p>{{ participant.prenom }}</p>
                <p>{{ participant.nom }}</p>
                <p>{{ participant.telephone }}</p>
                <p>{{ participant.mail }}</p>
                <p>{{ participant.campus.nom }}</p>
            </div>
        </div>

    </div>
{% endblock %}