{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% form_theme profileForm "bootstrap_3_layout.html.twig" %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>

    <div class="example-wrapper">
        <h1>Salut {{ app.user.prenom }}! ✅</h1>


        <div>
            {{ form_start(profileForm) }}

            {{ form_row(profileForm.pseudo,{'attr': {'placeholder':app.user.pseudo}}) }}
            {{ form_row(profileForm.prenom,{'attr': {'placeholder':app.user.prenom}}) }}
            {{ form_row(profileForm.nom,{'attr': {'placeholder':app.user.nom}}) }}
            {{ form_row(profileForm.telephone,{'attr': {'placeholder':app.user.telephone}}) }}
            {{ form_row(profileForm.mail,{'attr': {'placeholder':app.user.mail}}) }}
            {{ form_row(profileForm.motPasse) }}
            <div class="form-group">
                <label class="control-label required" for="profile_confirmation">Confirmation</label>
                <input
                        type="text" id="profile_confirmation" name="confirmation" required="required"
                        class="form-control">
            </div>

            {# {% if is_granted("ROLE_ADMIN") %}
    {{ form_row(profileForm.campus) }}
{% endif %} #}
            {{ form_row(profileForm.campus,{'attr': {'placeholder':app.user.campus.nom}}) }}
            {#  <label for="campus">Campus</label>
        <input type="text"
               id="campus"
               name="campus"
               value="{{ app.user.campus.nom }}"
               readonly> #}



            {{ form_end(profileForm) }}

            partie test a supprimer dans twig
            {% for role in app.user.roles %}
                <div>{{ role }}</div>
            {% endfor %}

        </div>

    </div>
{% endblock %}
