{% extends 'base.html.twig' %}

{% block title %}Mon Profil{% endblock %}

{% form_theme profileForm "bootstrap_3_layout.html.twig" %}

{%  block titre %}
    Mon profil
{% endblock %}

{% block body %}
    <div class="example-wrapper">
        {{ form_start(profileForm) }}

        {{ form_errors(profileForm) }}
        {{ form_label(profileForm.pseudo) }}
        {{ form_widget(profileForm.pseudo) }}
        {{ form_row(profileForm.prenom) }}
        {{ form_row(profileForm.nom) }}
        {{ form_row(profileForm.telephone) }}
        {{ form_row(profileForm.mail)}}
        {{ form_row(profileForm.newPassword) }}
        {{ form_row(profileForm.campus) }}
    </div>
{% endblock %}

{% block footer %}
    <button type="submit" class=" btn btn-success">Modifier</button>
    {{ form_end(profileForm) }}
{% endblock %}