{% extends 'base.html.twig' %}

{% block title %}Sorties{% endblock %}
{% form_theme searchForm "bootstrap_3_layout.html.twig" %}
{% block body %}

    <form class="container">
        {{ form_start(searchForm) }}
        <h1>Filtrer les sorties</h1>
        <div class="row">
            <div class="col-md-5">
                {{ form_row(searchForm.campus) }}
                {{ form_row(searchForm.q) }}
                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(searchForm.dateDebut) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(searchForm.dateFin) }}
                    </div>
                </div>

            </div>
            <div class="col-md-5">
                {{ form_row(searchForm.isOrganisateur) }}
                {{ form_row(searchForm.isInscrit) }}
                {{ form_row(searchForm.isNotInscrit) }}
                {{ form_row(searchForm.isPassees) }}
            </div>
            <div class="col-md-2">
                <button type="submit" class="btn btn-primary">Rechercher</button>
            </div>
        </div>
        {{ form_end(searchForm) }}
    </form>


    <table class="container table table-stripped table-hover table-bordered">
        <thead class="table-dark">
            <tr>
                <th>Nom de la sortie</th>
                <th>Date de la sortie</th>
                <th>Clôture</th>
                <th>Nombre d'inscrits</th>
                <th>Etat</th>
                <th>Inscrit</th>
                <th>Organisateur</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for sortie in sorties %}
            <tr>
                <td>{{ sortie.nom }}</td>
                <td>{{ sortie.dateHeureDebut|date("d/m/y H:i") }}</td>
                <td>{{ sortie.dateLimiteInscription | date("d/m/y H:i") }}</td>
                <td>{{ sortie.participants| length }}/{{ sortie.nbInscriptionsMax }} </td>
                <td>{{ sortie.etat.libelle }}</td>
                <td>{% if sortie.isParticipant(app.user) %}oui {% else %} non{% endif %}</td>
                <td>{{ sortie.organisateur.pseudo }}</td>
                <td>
                    {% if sortie.organisateur == app.user %}
                        <a href="{{ path('sortie_modifier',{'id':sortie.id}) }}">Modifier</a>
                    {% endif %}
                    {% if not sortie.isParticipant(app.user) %}
                        <a href="{{ path('inscription_sortie',{'id': sortie.id}) }}">S'iscrire</a>
                    {% endif %}
                        <a href="{{ path('sortie_detail',{'id':sortie.id}) }}">Afficher</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
