{% extends 'base.html.twig' %}
{% block title %}Sortie Details{% endblock %}
{% block body %}
    <div class="example-wrapper">
        <h1 class="text-center">{{ sortie.nom }}</h1>
        <p>Date et heure de la sortie : {{ sortie.dateHeureDebut|date("d/m/Y H:i") }}</p>
        <p>Date limite d'inscription : {{ sortie.dateLimiteInscription|date("d/m/Y H:i") }}</p>
        <p>Nombre de places : {{ sortie.nbInscriptionsMax }}</p>
        <p>Durée : {{ sortie.duree }} minutes </p>
        <p>Description et infos : {{ sortie.infosSortie }}</p>
        <p>Campus : {{ sortie.campus.nom }}</p>
        <p>Lieu : {{ sortie.lieu.nom }}</p></div>
{% endblock %}