{% extends 'base.html.twig' %}

{% block title %}Hello SortieController!{% endblock %}
{% form_theme creationSortie "bootstrap_3_layout.html.twig" %}

{% block titre %}
    Creation de sortie
{% endblock %}
{% block body %}
<div class="example-wrapper">
    {{ form_start(creationSortie) }}

    {{ form_row(creationSortie.nom) }}
    {{ form_row(creationSortie.dateHeureDebut) }}
    {{ form_row(creationSortie.duree) }}
    {{ form_row(creationSortie.dateLimiteInscription) }}
    {{ form_row(creationSortie.nbInscriptionsMax) }}
    {{ form_row(creationSortie.infosSortie) }}
    {{ form_row(creationSortie.lieu) }}

{% endblock %}
{% block footer %}
    <button type="submit" class="btn btn-success">Enregistrer</button>
    <a  href="{{ path('app_sorties') }}" class="btn btn-warning">Annuler</a>
    {{ form_end(creationSortie) }}
</div>
{% endblock %}



