{% extends 'base.html.twig' %}

{% block title %}Modifier la Sortie{{ sortie.nom }}{% endblock %}
{% form_theme sortieForm "bootstrap_3_layout.html.twig" %}

{% block body %}
    <div class="example-wrapper">
        <h1 class="text-center">Modifier la Sortie "{{ sortie.nom }}"</h1>

        {{ form_start(sortieForm) }}

        {{ form_row(sortieForm.nom) }}
        {{ form_row(sortieForm.dateHeureDebut) }}
        {{ form_row(sortieForm.duree) }}
        {{ form_row(sortieForm.dateLimiteInscription) }}
        {{ form_row(sortieForm.nbInscriptionsMax) }}
        {{ form_row(sortieForm.infosSortie) }}
        {{ form_row(sortieForm.lieu) }}


        <button type="submit" class="btn btn-primary">Enregistrer les modifications</button>
        <a href="{{ path('sortie_publier', {'id': sortie.id}) }}" class="btn btn-success">Publier</a>

        {{ form_end(sortieForm) }}
    </div>
{% endblock %}
