
<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="{{ path('app_sorties') }}" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <svg class="bi me-2" width="40" height="32"></svg>
            <span class="fs-4">Sortir.com</span>
        </a>

        <ul class="nav nav-pills">


            <li class="nav-item"><a href="{{ path('app_sorties') }}" class="nav-link">Accueil</a></li>
            {% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <li class="nav-item"><a href="{{ path('app_login') }}" class="nav-link" aria-current="page">Connexion</a></li>
            {% endif %}
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <li class="nav-item"><a href="{{ path('app_profile') }}" class="nav-link">Mon profil</a></li>
            {% endif %}

            {% if is_granted('ROLE_ADMIN') %}
            <li class="nav-item"><a href="#" class="nav-link">Ajouter Utilisateur</a></li>
            {% endif %}

            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <li class="nav-item"><a href="{{ path('app_sortie') }}" class="nav-link">Créer une Sortie</a></li>
            {% endif %}

            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <li class="nav-item"><a href="{{ path('app_logout') }}" class="nav-link">Se déconnecter</a></li>
            {% endif %}
        </ul>
    </header>
</div>